.marker {
  background-image: url('https://findicons.com/files/icons/1300/somatic_xtras/128/journal.png');
  background-color: inherit;
  background-size: cover;
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
}

.entries-post-its-list,
.entry-post-it-item {
  list-style: none;
}
.entries-post-its-list {
  overflow: scroll;
  padding: 3em;
  background-image: url(https://wallpaperplay.com/walls/full/2/7/6/37248.jpg);
  background-size: cover;
  background-position: center;
  height: 75vh;
  background-attachment: fixed;
  margin-top: 2%;
}

.entries-post-its-list .entry-post-it-item {
  margin: 1em;
  float: left;
}

.entry-post-it-link {
  text-decoration: none;
  color: #000;
  background: #ffc;
  display: block;
  height: 10em;
  width: 20em;
  padding: 1em;
  -moz-box-shadow: 5px 5px 7px rgba(33, 33, 33, 1);
  -webkit-box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
  box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
  -moz-transition: -moz-transform 0.15s linear;
  -o-transition: -o-transform 0.15s linear;
  -webkit-transition: -webkit-transform 0.15s linear;
}

.entry-post-it-link {
  -webkit-transform: rotate(-6deg);
  -o-transform: rotate(-6deg);
  -moz-transform: rotate(-6deg);
}

.entry-post-it-item:nth-child(even) .entry-post-it-link {
  -o-transform: rotate(10deg);
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  position: relative;
  top: 5px;
  background: #cc6699; /* fallback for old browsers */
}
.entry-post-it-item:nth-child(3n) .entry-post-it-link {
  -o-transform: rotate(-15deg);
  -webkit-transform: rotate(-15deg);
  -moz-transform: rotate(-15deg);
  position: relative;
  top: -5px;
  color: white;
  background: linear-gradient(45deg, #fe6b8b 30%, #ff8e53 90%);
}
.entry-post-it-item:nth-child(5n) .entry-post-it-link {
  -o-transform: rotate(5deg);
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  position: relative;
  top: -10px;
}

.entries-post-its-list .entry-post-it-item .entry-post-it-link:hover,
.entries-post-its-list .entry-post-it-item .entry-post-it-link:focus {
  box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.7);
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -o-transform: scale(1.25);
  position: relative;
  z-index: 5;
}

.entry-title {
  font-family: 'Forum';
  font-size: 50px;
  text-align: center;
}

.entry-text {
  height: 75vh;
  background: linear-gradient(to bottom, white 29px, #00b0d7 24px);
  margin: 50px auto;
  background-size: 100% 30px;
  padding-left: 80px;
  font-size: 20px;
  line-height: 30px;
  font-family: 'Merienda';
  overflow: scroll;
}

.entry-text::before {
  content: '';
  position: absolute;
  top: 30%;
  left: 16%;
  height: 80vh;
  width: 1px;
  background: #db4034;
}
